{% extends 'base/base.html' %}

{% block title %}Predict{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">Predict</h1>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data" action="{% url 'predict' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="file">CSV File:</label>
              <input type="file" class="form-control-file" name="test_file" id="test_file">
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}